/*侧边栏 开始*/
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    width: 40px;
    background-color: #6c6c6c;
    cursor: pointer;
}

.sidebar .sidebar-top{
    position: absolute;
    top: 40px;
}
.sidebar .sidebar-middle{
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -150px;
}
.sidebar .sidebar-bottom{
    position: absolute;
    bottom: 0;
}
.sidebar .rt>div{
    padding: 18px 8px;
    /* background-color: ; */
}
.sidebar .rt>div{
    background:#6c6c6c url(../images/index/ico_tabs.png)  7px 59px no-repeat;
}
.sidebar .rt>div:last-child{
    background:#6c6c6c url(../images/index/ico_tabs.png)  50px 0 no-repeat;
}
.sidebar .rt>div>div{
    position: relative;
    width: 24px;
    height: 24px;
}
.sidebar .all-class-btn{
    background: url(../images/index/ico_tabs.png)  0 -84px no-repeat;
}
.sidebar .qrcode-btn{
    background: url(../images/index/ico_tabs.png)  0 -108px no-repeat;
}
.sidebar .myld-btn{
    background: url(../images/index/ico_tabs.png)  0 -132px no-repeat;
}
.sidebar .mycar-btn{
    background: url(../images/index/ico_tabs.png)  0 -156px no-repeat;
}
.sidebar .mycoupon-btn{
    background: url(../images/index/ico_tabs.png)  0 -180px no-repeat;
}
.sidebar .mytrack-btn{
    background: url(../images/index/ico_tabs.png)  0 -204px no-repeat;
}
.sidebar .top-btn{
    background: url(../images/index/ico_tabs.png)  0 -276px no-repeat;
}
.sidebar .rt>div:hover{
    background-color: #494949;
}
@media(max-width:1240px){
    .sidebar{
        right: -40px;
    }
    .sidebar .sidebar-middle .btn:nth-child(2){
        position: relative;
        right: 40px;
    }
}
.sidebar-cl{
    right: 0px !important;
}
.sidebar-m{
    right: 0px ;
}
.sidebar .sidebar-middle div.btn-m{
    right: 0px !important;
}
.sidebar .sidebar-middle div.btn-cl{
    right: 0px !important;
}
.sidebar .tips{
    display: block;
    /* overflow: hidden; */
    position: absolute;
    z-index: -150;
    top: -18px;
    right: -68px;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #6c6c6c;
    background-color: transparent;
    transition: all .5s;
}
.sidebar .rt>div:hover .tips{
    right: 32px;
    background-color:rgba(0,0, 0,.7);
    color: #fff
}
.sidebar .sidebar-top .qrcode:hover{
    background-color:#fff;
}
.sidebar .qrcode:hover .qrcode-btn {
    background-position-x:-24px;
}
.sidebar  .qrcode-pic{
    display: none;
    position: absolute;
    top: -18px;
    right: 32px;
    width: 280px;
    height: 286px;
    line-height: 60px;
    text-align: center;
    transition: all .5s;
    background:transparent url(../images/index/qrcode.png) center center no-repeat;
}
.sidebar .qrcode:hover .qrcode-pic {
    display: block;
    background-color: #fff ;
    box-shadow: -2px 0 3px 0 #999;
    overflow: hidden;
}
.sidebar .sidebar-bottom>div{
    display: none;
}
.sidebar .all-class-list{
    position: fixed;
    top: 0;
    right: 40px;
    height: 100%;
    width: 240px;
    background-color: #f5f5f5;
    box-shadow: -2px 0 2px 0 #999999;
    padding: 0 20px;
    display: none;
}
.sidebar .all-class-list h2{
    padding: 10px 0;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.sidebar .all-class-list-box{
    position: absolute;
    left: 20px;
    right: 5px;
    top: 58px;
    bottom: 20px;
    padding: 0px;
    width: 255px;
    overflow: auto;
}
.sidebar .all-class-list-box::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background:none;
}
.sidebar .all-class-list-box::-webkit-scrollbar-track{
    color: #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3) 
}
.sidebar .all-class-list-box::-webkit-scrollbar-thumb{
    color: #555;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3) 
}
.sidebar .all-class-list li{
    padding-right: 15px;
    margin-bottom: 20px;
}
.sidebar .all-class-list h4{
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
}
.sidebar .all-class-list h4 a,
.sidebar .all-class-list h4 span{
    font-size: 12px;
    line-height: 26px;
    color: #666;
}
.sidebar .all-class-list h4 .more{
   float: right;
}
.sidebar .all-class-list p a{
    line-height: 22px;
    margin-right: 10px;
    float: left;
}
.sidebar .all-class-list h4:hover span{
   color: #c51010
}
.sidebar .all-class-list h4:hover a{
    color: #c51010
 }
 .sidebar .all-class-list p a:hover{
    color: #c51010
}
.sidebar .all-class-list p{
    display: none;
}
.sidebar .sidebar-top .all-class,
.sidebar .sidebar-middle .all-class{
    background-color:#f5f5f5!important;
    background-position-x: 50px
}
.sidebar .active{
    background-position-x:-24px;
}
.sidebar .mycar-btn .num{
    position: absolute;
    top: -15px;
    left: 1px;
    width: 24px;
    height: 16px;
    background:url(../images/index/ico_tabs.png) -24px -60px no-repeat;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}
.sidebar .mycar,
.sidebar .myld{
    position: absolute;
    top: -18px;
    right: 32px;
    width: 280px;
    height: 238px;
    box-shadow: -2px 0 2px 0 #999999;
    background: #f5f5f5;
    display: none;
    z-index: 2;
}
.sidebar .mycar h3,
.sidebar .myld h3{
    width: 243px;
    margin: 20px auto;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.sidebar .mycar img{
    width: 240px;
    margin: 0 20px;
}


.sidebar .user-name-box{
    width: 243px;
    margin:  0 auto 30px;
    height: 54px;;
}
.sidebar .user-pic{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid #fff;
    /* position: relative; */
    overflow: hidden;
    background: url(../images/index/avatar21.png) 3px 0 no-repeat;
}
.sidebar .user-name{
    float: left;
    width: 170px;
    margin-left: 10px;
}
.sidebar .user-name span{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}
.sidebar .user-info{
    width: 243px;
    height: 54px;
    margin: 0 auto;
}
.sidebar .user-info a{
    display: block;
    float: left;
    height: 50px;
    width: 73px;
    padding-left: 5px;
    padding-top: 4px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 3px;
    line-height: 24px;
    color: #666666;
    background-color: #eee;
}
.sidebar .user-info strong{
   font-size: 14px;
}
.sidebar .user-info a:hover{
    color: #c51010;
}
/*侧边栏购物车 开始*/
.sidebar .new-car{
    position: fixed;
    top: 0;
    right: 40px;
    width: 280px;
    height: 100%;
    background-color: #f5f5f5;
    display:none;
    box-shadow: 0 0 5px 0 #999999;
}
.sidebar .car-header{
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.sidebar .car-header p{
    float: left;
    width: 45px;
    height: 13px;
    margin: 3px 5px 0 7px;
    font-size: 12px;
    font-weight: normal;
}

.sidebar .car-header span{
    float: right;
    margin-right: 10px;
}
.sidebar .car-main{
    overflow: auto;
    padding: 0px;
    width: 280px;
    position: absolute;
    left: 0;
    right: 5px;
    top: 50px;
    bottom: 100px;
}
.sidebar .car-main::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background:none;
}
.sidebar .car-main::-webkit-scrollbar-track{
    color: #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3) 
}
.sidebar .car-main::-webkit-scrollbar-thumb{
    color: #555;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,.3) 
}
.sidebar .car-store{
    width: 252px;
    margin-bottom: 10px;
    padding: 0 7px 0 6px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
}
.sidebar .store-info{
    height: 34px;
    line-height: 34px;
}
.sidebar .store-info input{
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 11px;
    margin-right: 7px;
}
.sidebar .store-info a{
    font-size: 14px;
    color: #1475ba;
    padding-left: 21px;
    background: url(../images/index/icons.png) no-repeat 0 9px;
    float: left;
}
.sidebar .store-item{
    height: 60px;
    margin-top: -1px;
    padding: 10px 0;
    border-top: dotted 1px #cccccc;
}

.sidebar .store-item .item-check{
    float: left;
    display: block;
    width: 13px;
    height: 13px;
    margin-top: 25px;
    margin-right: 4px;
}
.sidebar .store-item .item-pic{
    float: left;
    padding: 1px;
    overflow: hidden;
}
.sidebar .store-item .item-pic img{
    display: block;
    width: 60px;
    height: 60px;
}
.sidebar .store-item .fl{
    width: 170px;
}
.sidebar .store-item .item-attr{
    width: 154px;
    height: 20px;
    margin-left: 8px;
    color: #999999;
    white-space: nowrap;
}
.sidebar .store-item .item-attr .size{
    float: left;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .store-item .item-attr .delete{
    float: left;
    color: #666;
}
.sidebar .store-item .attr-color{
    height: 20px;
    margin-left: 8px;
    color: #999999;
    white-space: nowrap;
}
.sidebar .store-item .item-price{
    width: 154px;
    height: 20px;
    line-height: 20px;
    margin: 2px 0 0 8px;
}
.sidebar .store-item .item-price .btn-down,
.sidebar .store-item .item-price .btn-up{
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: solid 1px #ccc;
    margin-right: -1px;
    cursor: default;
}
.sidebar .store-item .item-price .btn-up{
    margin-left: -1px;
}
.sidebar .store-item .item-price input{
    float: left;
    width: 26px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    border: solid 1px #ccc;
}
.sidebar .store-item .item-price .price{
    float: right;
    text-align: right;
    margin-left: 7px;
    margin-right: 1px;

}
.sidebar .car-foot{
    width: 240px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
.sidebar .car-foot p{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #fff5ba;
}
.sidebar .car-foot strong{
    color: #c52e15;
    margin: 0 3px;
}
.sidebar .car-foot .fr{
    width: 130px;
    white-space: nowrap;
}
.sidebar .car-foot a{
    display: block;
    height: 28px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #d10208;
    border: solid 1px #a71326;
}
.sidebar .lt-active{
    display: block;
}
/*侧边栏购物车 结束*/

/*侧边栏 结束*/